* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --accent: #45d;
}

body>header>h1 {
  background-image: url(/static/favicon.svg);
  text-indent: -3000px;
}

body>header>h1>a {
  display: block;
}